/* PT Sans, PT Sans Narrow */
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Sans+Narrow:700,400);
/* import base */
@import "base";
/* variables */
@main-font-size: 16px;
@main-text-color: #000;
@main-link-color: #fff;
/* font-family */
@pt-sans: 'PT Sans', sans-serif;
@pt-sans-narrow: 'PT Sans Narrow', sans-serif;
@pf-centro-slab: 'PF Centro Slab Pro', sans-serif;
@pf-centro-slab-medium: 'PF Centro Slab Pro Medium', sans-serif;

html {
    height: 100%;
    background: url("../images/bg-body.png") repeat;
}
body {
    margin: 0;
    color: @main-text-color;
    font: @main-font-size/1.2 @pt-sans;
    height: 100%;
    background: url("../images/bg-clouds.png") repeat-x 50% 0;
}
img {border-style: none;}
a {
    text-decoration: none;
    color: @main-link-color;
}
a:hover {text-decoration:underline;}
input, textarea, select {
    font: @main-font-size/1.2 @pt-sans;
    vertical-align: middle;
    color: @main-text-color;
    padding: 0;
    margin: 0;
}
textarea {resize: none;}
form fieldset {
    margin: 0;
    padding: 0;
    border: none;
}
*:focus {outline: none;}
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1, h2, h3, h4, h5, h6, p {margin: 0;}
table {
    border-collapse: collapse;
    border: none;
}
td, th {padding: 0;}
.left {float: left;}
.right {float: right;}
/* form */
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="number"],
input[type="email"],
input[type="month"],
input[type="week"],
input[type="date"],
input[type="search"] {

}
textarea {
    border: none;
    overflow: auto;
    .box-sizing(border-box);
}
::-webkit-input-placeholder {}
::-moz-placeholder {}
:-ms-input-placeholder {}
/* wrapper */
#wrapper {
    min-width: 480px;
    max-width: 1000px;
    margin: 0 auto;
}
/* header */
#header {

}
/* main */
#main {

}
/* content */
#content {

}
/* sidebar */
#sidebar {

}
/* footer */
#footer {

}
@media only screen and (min-width: 1400px) {
    #wrapper {
        padding: 0 200px;
        max-width: 1600px;
    }
}
@media only screen and (max-width: 960px) {
}
