/* PT Sans, Open Sans, PT Sans Caption, PT Sans Narrow */
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Sans+Caption:400,700|Open+Sans:400,600|PT+Sans+Narrow:400,700);
/* import base */
@import "base";
/* variables */
@main-font-size: 16px;
@main-text-color: #575757;
@dark-text-color: #000;
@main-link-color: #0082ac;
@main-animation-duration: 0.3s;

@white: #fff;
@gray: #c4c4c4;
@green: #79ac00;
@red: #a81430;

@dark-gray: #7a7a7a;
@dark-blue: #0e6e9a;
@dark-green: #7b9a0e;
@dark-red: #9a0e0e;

/* font-family */
@pt-sans: 'PT Sans', sans-serif;
@pt-sans-caption: 'PT Sans Caption', sans-serif;
@pt-sans-narrow: 'PT Sans Narrow', sans-serif;
@open-sans: 'Open Sans', sans-serif;
@pf-centro-slab: 'PF Centro Slab Pro', sans-serif;
@pf-centro-slab-medium: 'PF Centro Slab Pro Medium', sans-serif;

html {
    height: 100%;
    background: url("../images/bg-body.png") repeat;
}
body {
    margin: 0;
    color: @main-text-color;
    font: @main-font-size/1.2 @pt-sans;
    height: 100%;
    background: url("../images/bg-clouds.png") repeat-x 50% 0;
}
img {border-style: none;}
a {
    text-decoration: underline;
    color: @main-link-color;
}
a:hover {text-decoration: none;}
input, textarea, select {
    font: @main-font-size/1.2 @pt-sans;
    vertical-align: middle;
    color: @main-text-color;
    padding: 0;
    margin: 0;
}
textarea {resize: none;}
form fieldset {
    margin: 0;
    padding: 0;
    border: none;
}
*:focus {outline: none;}
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1, h2, h3, h4, h5, h6, p {margin: 0;}
table {
    border-collapse: collapse;
    border: none;
}
td, th {padding: 0;}
.left {float: left;}
.right {float: right;}
/* form */
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="number"],
input[type="email"],
input[type="month"],
input[type="week"],
input[type="date"],
input[type="search"] {
    border: 1px solid @gray;
    background: @white;
    height: 40px;
    width: 100%;
    padding: 5px 10px;
    line-height: 30px;
    display: block;
    border-radius: 3px;
    .box-sizing(border-box);
    .box-shadow(inset 1px 1px 2px 0 #ddd);
}
textarea {
    overflow: auto;
    border: 1px solid @gray;
    background: @white;
    height: 180px;
    width: 100%;
    padding: 5px 10px;
    line-height: 30px;
    display: block;
    border-radius: 3px;
    .box-shadow(inset 1px 1px 2px 0 #ddd);
    .box-sizing(border-box);
}
select {
    border: 1px solid  @gray;
    background: @white;
    height: 40px;
    width: 100%;
    padding: 5px 10px;
    line-height: 30px;
    display: block;
    border-radius: 3px;
    .box-shadow(inset 1px 1px 2px 0 #ddd);
    .box-sizing(border-box);
}
::-webkit-input-placeholder {}
::-moz-placeholder {}
:-ms-input-placeholder {}
.clear-fix {
    .clear-fix();
}
/* wrapper */
#wrapper {
    min-width: 480px;
    max-width: 1400px;
    padding: 0 200px;
    margin: 0 auto;
}
/* header */
#header {
    .clear-fix();

    .wrap {
        .clear-fix();
    }
    .col {
        float: left;
        position: relative;
        margin-left: 35px;

        &:first-child {
            margin-left: 0;
        }

        h3 {
            font-size: 16px;
            font-family: @open-sans;
            font-weight: 600;
            margin: 20px 0 10px;
            text-transform: uppercase;
        }

        .header-list {
            li {
                padding: 3px 0;
                line-height: 24px;

                a {
                    padding-left: 33px;
                    display: inline-block;


                    &.email {
                        background: url("../images/icos/ico-mail.png") no-repeat 0 50%;
                        color: #cb0069;
                    }
                    &.skype {
                        background: url("../images/icos/ico-skype.png") no-repeat 0 50%;
                    }
                }
            }
        }
    }

    .logo {
        background: url("../images/bg-logo.png") no-repeat;
        width: 287px;
        height: 74px;
        text-indent: -9999px;
        display: block;
        cursor: pointer;
        margin: 13px 0 0;

        a {
            display: block;
            height: 100%;
        }
    }

    .services {
        color: @main-link-color;
        position: absolute;
        right: 0;
        bottom: 5px;
    }

    .lang {
        float: right;
        margin-top: 17px;

        li {
            float: left;
            margin-left: 18px;

            a {
                display: block;
                width: 35px;
                height: 28px;
                text-indent: -9999px;

                &:hover {
                    .opacity(0.8);
                }

                &.ru {
                    background: url("../images/icos/ico-falg-ru.png") no-repeat 50% 50%;
                }
                &.en {
                    background: url("../images/icos/ico-falg-en.png") no-repeat 50% 50%;
                }
            }
        }
    }

    .login-reg {
        width: 220px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        float: right;
        background: @main-link-color;
        color: @white;
        text-decoration: none;
        border-radius: 3px;
        clear: right;
        margin-top: 16px;
        .transition(background @main-animation-duration linear);

        &:hover {
            background: darken(@main-link-color, 15%);
        }
    }
}
#nav {
    margin-top: 16px;
    position: relative;
    .clear-fix();

    li {
        float: left;
        position: relative;
        z-index: 2;
        .box-sizing(border-box);

        a {
            padding: 0 20px;
            height: 40px;
            line-height: 40px;
            display: block;
            font-size: 20px;
            color: @dark-text-color;
            font-family: @pf-centro-slab-medium;
            text-decoration: none;
            .transition(border-color @main-animation-duration linear);
            .box-sizing(border-box);

            .ico-lock {
                vertical-align: text-bottom;
            }

            &.skam {
                color: #f00;
            }
        }
    }
    #marker {
        position: absolute;
        display: none;
        border: 2px solid #8a8a8a;
        bottom: 0;
        height: 40px;
        z-index: 1;
        -webkit-transition:width @main-animation-duration, left @main-animation-duration;
        -moz-transition:width @main-animation-duration, left @main-animation-duration;
        -ms-transition:width @main-animation-duration, left @main-animation-duration;
        -o-transition:width @main-animation-duration, left @main-animation-duration;
        transition:width @main-animation-duration, left @main-animation-duration;
        .box-sizing(border-box);
    }
}
/* icos */
.ico-lock {
    display: inline-block;
    background: url("../images/icos/ico-lock.png") no-repeat;
    width: 24px;
    height: 24px;
}
/* main */
#main {
    margin-top: 40px;
    .clear-fix();

    .main-holder {
        padding-bottom: 35px;
        .clear-fix();

        .aside {
            float: left;
        }
    }

    h2 {
        font: bold 27px/1.2 @pt-sans-narrow;
        color: #262626;
        text-transform: uppercase;
    }
}
/* aside */
.aside {
    width: 330px;

    .wrap {
        margin-top: 33px;

        &:first-child {
            margin-top: 0;
        }
    }

    .aside-list {
        li {
            padding: 4px 0;
        }

        .ico {
            float: left;
            margin-right: 10px;
            width: 20px;
            height: 20px;
            text-align: center;

            img {
                vertical-align: middle;
            }
        }
    }
}
/* lite-chat */
.lite-chat {
    .chat-holder {
        margin-left: 340px;
        background: #f9f9f9;
        border: 1px solid @gray;
        border-radius: 3px;
        padding: 19px 9px 19px 19px;
        height: 360px;
        position: relative;
        .box-sizing(border-box);


        .chat {
            overflow: auto;
            height: 320px;


            .message-list {
                padding-bottom: 50px;
                padding-right: 20px;
                li {
                    overflow: hidden;
                    padding-bottom: 15px;

                    .text {
                        color: @dark-green;
                    }

                    &:nth-child(even) {
                        .text {
                            color: @dark-blue;
                        }
                    }
                }
            }

            .img-frame {
                float: left;
            }

            .wrap {
                margin-left: 40px;
                font-size: 14px;

                .row {
                    overflow: hidden;

                    > * {
                        float: left;
                        margin-right: 6px;
                    }
                }

                h4 {
                    line-height: 1.1;
                    color: #484848;
                    font-weight: normal;

                    a {
                        color: inherit;
                        text-decoration: none;
                        border-bottom: 1px dotted #484848;

                        &:hover {
                            border-bottom: none;
                        }
                    }
                }
                .time {
                    font-style: normal;
                    color: #989898;
                }
                .comments {
                    font-weight: bold;
                    color: @dark-text-color;
                    padding-left: 21px;
                    background: url("../images/icos/ico-comments.png") no-repeat 0 50%;
                }
            }
        }
    }
    .bottom-row {
        position: absolute;
        bottom: 19px;
        left: 19px;
        right: 29px;
        height: 60px;
        background: #f9f9f9;
        padding-top: 5px;

        .input-area {
            margin-right: 140px;
        }
        .submit {
            position: absolute;
            right: 20px;
            bottom: 0;
            display: block;
            padding: 0 10px;
            height: 35px;
            line-height: 35px;
            text-transform: uppercase;
            color: @white;
            background: @dark-green;
            text-decoration: none;
            border-radius: 3px;
            .transition(background @main-animation-duration linear);

            &:hover {
                background: darken(@dark-green, 10%);
            }
        }
        .message {
            background: #ededed;
            border-radius: 5px;
            height: 60px;
            text-align: center;
            padding-top: 10px;
            .box-shadow(inset 1px 1px 2px 0 #888);
            .box-sizing(border-box);
        }
        textarea {
            display: none;
            background: @white;
            border: 1px solid @gray;
            border-radius: 5px;
            padding: 5px;
            width: 100%;
            height: 60px;
            .box-sizing(border-box);
        }
    }

    .full-chat {
        margin-top: 12px;
        float: right;
    }
}
/* tooltip */
.ui-tooltip {
    @tooltip-bg: #eadcb9;
    background: @tooltip-bg;
    border: none;
    font-family: @pt-sans-narrow;
    font-size: @main-font-size;
    color: #634702;
    max-width: 265px;
    .box-shadow(0 0 5px darken(@tooltip-bg, 35%));

    &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 100%;
        right: 42px;
        border-style: solid;
        border-width: 9px 6px;
        border-color: transparent;
        border-bottom-color: @tooltip-bg;
    }
}
/* projects */
.projects {
    .filter-overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
        z-index: 2;
    }

    .filters,
    .proj-cols {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        li {
            width: 330px;
            .box-sizing(border-box);
        }

        .filter-dropdown {
            border: none;
            color: @dark-text-color;
            display: block;
            width: 100%;
            margin-top: 10px;
            position: relative;
            z-index: 1;
            .box-sizing(border-box);

            p {
                height: 40px;
                text-transform: uppercase;
                font: bold 14px/40px @pt-sans;
                position: relative;
                z-index: 2;
                border-radius: 5px;
                background: #e6e6e6;
                padding-left: 10px;
                cursor: pointer;
            }

            .dropdown {
                display: none;
                position: absolute;
                z-index: 1;
                top: 34px;
                left: 0;
                right: 0;
                background: #ebebeb;
                padding: 5px 20px 20px;
                border-radius: 0 0 5px 5px;
                .box-sizing(border-box);

                fieldset {
                    border-top: 1px solid #ddd;
                    padding: 7px 0 20px;

                    label {
                        display: block;
                        padding-bottom: 16px;
                    }

                    .row {
                        width: 100%;
                        .clear-fix();
                    }

                    input[type="text"] {
                        width: 82px;
                        height: 31px;
                        padding: 3px 5px;
                        line-height: 25px;
                        background: #f5f5f5;
                        border: none;
                        border-radius: 4px;
                        float: right;
                        .box-shadow(inset 1px 1px 2px 0 #888);
                        .box-sizing(border-box);

                        &:first-child {
                            float: left;
                        }
                    }

                    .btn-status {
                        float: left;
                        margin-right: 5px;
                        width: 100px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        border-radius: 3px;
                        color: @white;
                        text-decoration: none;
                        .transition(background @main-animation-duration linear);

                        &.green {
                            background: @dark-green;

                            &:hover {
                                background: darken(@dark-green, 10%);
                            }
                            &.active {
                                .opacity(0.8);
                            }
                        }
                        &.blue {
                            background: @dark-blue;

                            &:hover {
                                background: darken(@dark-blue, 10%);
                            }
                            &.active {
                                .opacity(0.8);
                            }
                        }
                    }

                    .ui-slider {
                        margin-top: 10px;
                        height: 17px;
                        border: none;
                        background: #f5f5f5;
                        border-radius: 15px;
                        .box-shadow(inset 1px 1px 2px 0 #888);
                        .box-sizing(border-box);

                        .ui-slider-range {
                            border-top: 1px solid @white;
                            border-radius: 15px;
                            background: rgb(253,232,203);
                            background: -moz-linear-gradient(top,  rgba(253,232,203,1) 0%, rgba(245,220,187,1) 21%, rgba(218,183,136,1) 71%, rgba(206,168,113,1) 100%);
                            background: -webkit-linear-gradient(top,  rgba(253,232,203,1) 0%,rgba(245,220,187,1) 21%,rgba(218,183,136,1) 71%,rgba(206,168,113,1) 100%);
                            background: linear-gradient(to bottom,  rgba(253,232,203,1) 0%,rgba(245,220,187,1) 21%,rgba(218,183,136,1) 71%,rgba(206,168,113,1) 100%);
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fde8cb', endColorstr='#cea871',GradientType=0 );
                            .box-shadow(0 3px 5px 0 #808080);
                        }

                        .ui-slider-handle {
                            width: 13px;
                            height: 13px;
                            top: 3px;
                            margin-left: 4px;
                            border-radius: 50%;
                            border: none;
                            background: url("../images/bg-slider-handler.png") no-repeat;

                            &:last-child {
                                margin-left: -18px;
                            }
                        }
                    }
                }

                .submit {
                    margin: 0 auto;
                    width: 140px;
                    height: 40px;
                    display: block;
                    line-height: 40px;
                    text-align: center;
                    border-radius: 3px;
                    color: @white;
                    text-decoration: none;
                    background: @dark-green;
                    .transition(background @main-animation-duration linear);

                    &:hover {
                        background: darken(@dark-green, 10%);
                    }
                }
            }
        }
    }

    .filters {
        z-index: 3;

        h3 {
            font-family: @pf-centro-slab;
            font-size: 22px;
            color: @dark-text-color;

            a {
                color: inherit;
                text-decoration: none;
            }
        }
    }

    .proj-list {
        z-index: 1;
        > li {
            margin-top: 20px;
            height: 560px;
            background: @white;
            border: 1px solid @gray;
            border-radius: 4px;
            padding: 19px 9px;
            position: relative;

            .btn-row {
                position: absolute;
                bottom: 19px;
                left: 9px;
                right: 9px;

                a {
                    padding: 0 12px;
                    height: 30px;
                    font: bold 16px/30px @pt-sans-narrow;
                    text-transform: uppercase;
                    color: @white;
                    border-radius: 3px;
                    text-decoration: none;
                    .transition(background @main-animation-duration linear);
                }

                .goto-site {
                    float: left;
                    background: @dark-green;

                    &:hover {
                        background: darken(@dark-green, 10%);
                    }
                }

                .more {
                    float: right;
                    background: @dark-blue;

                    &:hover {
                        background: darken(@dark-blue, 10%);
                    }
                }
            }

            .row {
                width: 100%;
                overflow: hidden;
                padding: 10px 0 15px;

                > span {
                    height: 25px;
                    line-height: 25px;
                    padding: 0 12px;
                    border-radius: 4px;
                    float: left;
                    font-size: 14px;
                }

                .duration {
                    margin-right: 12px;
                    color: @dark-text-color;
                    background: #e4e4e4;
                }

                .status {
                    background: @dark-blue;
                    color: @white;

                    &.green {background: @dark-green;}
                    &.red {background: @dark-red;}
                }
            }

            .holder {
                overflow: hidden;

                .img-frame {
                    float: left;
                    margin-right: 16px;
                }
                .wrap {
                    width: 190px;
                    float: left;

                    h4 {
                        font-size: 18px;
                        line-height: 1;
                        color: @dark-text-color;
                    }

                    .rates {
                        margin-top: 3px;
                        font-size: 12px;
                        color: @dark-text-color;

                        li {
                            margin-top: 2px;
                        }
                    }
                }
            }

            .info {
                margin: 10px 0 0;
                color: @dark-text-color;
                .clear-fix();

                dt {
                    font-weight: bold;
                    width: 165px;
                    float: left;
                    clear: left;
                    margin: 1.5px 0;
                }
                dd {
                    float: left;
                    margin: 1.5px 0;
                }
                .calendar {
                    display: inline-block;
                    background: url("../images/icos/ico-calendar.png") no-repeat;
                    text-indent: -9999px;
                    width: 20px;
                    height: 20px;
                }
            }

            .payment-systems {
                margin-top: 3px;

                h5 {
                    font-weight: normal;
                    color: @dark-text-color;
                    font-size: 16px;
                }

                li {
                    float: left;
                    margin: 5px 10px 0 0;
                    border: 1px solid @gray;
                    background: @white;
                    border-radius: 4px;
                    height: 25px;
                    width: 70px;
                    text-align: center;
                    vertical-align: middle;
                }
            }
        }

        h3 {
            font: bold 22px/1.2 @pt-sans;
            color: @dark-blue;
        }
    }
    .high {
        .proj-list {
            > li {
                background: @white url("../images/icos/ico-value-high.png") no-repeat 285px 13px;
            }
        }
    }
    .mid {
        .proj-list {
            > li {
                background: @white url("../images/icos/ico-value-mid.png") no-repeat 285px 13px;
            }
        }
    }
    .low {
        .proj-list {
            > li {
                background: @white url("../images/icos/ico-value-low.png") no-repeat 285px 13px;
            }
        }
    }
}
/* footer */
#footer {
    position: relative;
    border-top: 1px solid #cecece;
    text-align: center;
    margin-top: 20px;
    padding-top: 12px;
    .clear-fix();

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        border-bottom: 1px solid @white;
    }

    .footer-nav {
        display: inline-block;

        li {
            float: left;
            margin: 0 32px;
            font-family: @pf-centro-slab-medium;

            a {
                color: @dark-text-color;
                text-decoration: none;
                .transition(all @main-animation-duration linear);

                &:hover,
                &.active {
                    color: @main-link-color;
                }
            }
        }
    }

    .holder {
        p {
            line-height: 34px;
        }
    }
}
/* content */
#content {
    margin-right: 310px;
}
.breadcrumbs {
    color: @dark-text-color;
    font-size: 14px;
    overflow: hidden;

    li {
        float: left;

        &:after {
            content: '\00bb';
            margin: 0 3px;
        }

        &:last-child:after {
            content: '';
        }

        a {
            color: inherit;
        }
    }
}
.services {
    .text {
        font-size: 18px;
        padding: 20px 0;
    }
}
/* form */
.form {
    overflow: hidden;
    label {
        color: @dark-text-color;
        display: block;
        padding-bottom: 5px;
    }

    .row {
        padding-top: 17px;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;

        > label {
            flex: 1 100%;
        }
    }

    .col {
        width: 47%;
        display: flex;
        align-items: flex-end;
        flex-flow: row wrap;

        label {
            align-self: flex-end;
            flex: 1 100%;
        }
    }
    .submit {
        float: right;
        width: 160px;
        height: 40px;
        line-height: 40px;
        text-transform: uppercase;
        color: @white;
        background: @green;
        text-decoration: none;
        border-radius: 3px;
        text-align: center;
        margin-top: 20px;
        .transition(background @main-animation-duration linear);

        &:hover {
            background: darken(@green, 10%);
        }
    }
}
/* full-project */
.full-project  {
    position: relative;

    h3 {
        font: bold 22px/1.2 @pt-sans;
        color: @dark-blue;
        display: inline-block;
        height: 46px;
        padding: 6px 45px 14px 0;
        margin-bottom: -14px;
        .box-sizing(border-box);
    }

    &.high {
        h3 {
                background: url("../images/icos/ico-value-high.png") no-repeat 100% 50%;
        }
    }
    &.mid {
        h3 {
                background: url("../images/icos/ico-value-mid.png") no-repeat 100% 50%;
        }
    }
    &.low {
        h3 {
                background: url("../images/icos/ico-value-low.png") no-repeat 100% 50%;
        }
    }

    .row {
        width: 100%;
        overflow: hidden;
        padding: 10px 0 15px;

        > span {
            height: 25px;
            line-height: 25px;
            padding: 0 12px;
            border-radius: 4px;
            float: left;
            font-size: 14px;
        }

        .duration {
            margin-right: 12px;
            color: @dark-text-color;
            background: #e4e4e4;
        }

        .status {
            background: @dark-blue;
            color: @white;

            &.green {background: @dark-green;}
            &.red {background: @dark-red;}
        }
    }

    .two-columns {
        overflow: hidden;
    }
    .col-01 {
        overflow: hidden;
        float: left;
        width: 530px;
        padding-bottom: 10px;

        .img-frame {
            float: left;
            margin-right: 16px;
        }
        .wrap {
            float: left;

            h4 {
                font-size: 18px;
                color: @dark-text-color;
            }

            .rates {
                margin-top: 3px;
                font-size: 14px;
                color: @dark-text-color;

                li {
                    margin-top: 4px;
                }
            }
        }
    }

    .col-02 {
        float: left;
        width: 275px;
    }

    .info {
        margin: 0;
        color: @dark-text-color;
        .clear-fix();

        dt {
            font-weight: bold;
            width: 165px;
            float: left;
            clear: left;
            margin: 1.5px 0;
        }
        dd {
            float: left;
            margin: 1.5px 0;
        }
        .calendar {
            display: inline-block;
            background: url("../images/icos/ico-calendar.png") no-repeat;
            text-indent: -9999px;
            width: 20px;
            height: 20px;
        }
    }

    .payment-systems {
        margin-top: 3px;

        h5 {
            font-weight: normal;
            color: @dark-text-color;
            font-size: 16px;
        }

        .payment-list {
            overflow: hidden;
            width: 250px;

            li {
                float: left;
                margin: 5px 10px 0 0;
                border: 1px solid @gray;
                background: @white;
                border-radius: 4px;
                height: 25px;
                width: 70px;
                text-align: center;
                vertical-align: middle;
            }
        }
    }

    .btn-row {
        margin-top: 17px;
        clear: both;
        overflow: hidden;

        a {
            float: left;
            padding: 0 12px;
            height: 30px;
            font: bold 16px/30px @pt-sans-narrow;
            text-transform: uppercase;
            color: @white;
            border-radius: 3px;
            text-decoration: none;
            .transition(background @main-animation-duration linear);
        }

        .goto-site {
            background: @dark-green;
            margin-right: 10px;

            &:hover {
                background: darken(@dark-green, 10%);
            }
        }

        .complain {
            background: @red;

            &:hover {
                background: darken(@red, 10%);
            }
        }
    }

    .p-block {
        margin-top: 20px;
        border-top: 1px solid #777;
        .clear-fix();

        h4 {
            font-size: 20px;
            margin: 15px 0;
        }
    }

    .description {
        p {padding: 15px 0;}
    }

    .video-holder {
        display: inline-block;
        padding-bottom: 25px;
        background: url("../images/bg-video-shadow.png") no-repeat 0 100%;
        background-size: 100% auto;
    }

    .comments {
        .comment {
            margin-top: 10px;
            background: @white;
            padding: 10px;
            min-width: 120px;
            .box-sizing(border-box);

            .top-bar {
                overflow: hidden;
                .name {
                    font-weight: bold;
                    color: @red;
                    float: left;
                    margin-right: 5px;

                    a {
                        text-decoration: none;
                        color: inherit;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .date {
                    font-size: 14px;
                    color: #868686;
                    font-style: normal;
                }
            }

            h5,
            p {
                color: @dark-text-color;
                font-size: 14px;
                margin-top: 3px;
            }
            p {line-height: 1.4;}
        }
    }

    .c-paging {
        margin-top: 20px;
        text-align: center;

        ul {
            display: inline-block;

            li {
                float: left;
                margin: 0 4px;

                a {
                    display: block;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    background: @white;
                    color: @dark-text-color;
                    font-size: 20px;
                    text-decoration: none;
                    position: relative;
                    .transition(all @main-animation-duration);

                    &:hover {
                        background: #008ead;
                        color: @white;
                    }

                    &.active {
                        background: #008ead;
                        color: @white;

                        &:after {
                            content: '';
                            display: block;
                            width: 0;
                            height: 0;
                            position: absolute;
                            bottom: 100%;
                            left: 50%;
                            margin-left: -7px;
                            border: 7px solid transparent;
                            border-bottom-color: #008ead;
                        }
                    }
                }
            }
        }
    }

    textarea {
        height: 140px;
        border: 5px solid #d7d7d7;
        border-radius: 10px;
        .box-shadow(none);
    }

    .send {
        float: right;
        margin-top: 10px;
        width: 130px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        color: @white;
        text-decoration: none;
        background: @dark-green;
        border-radius: 3px;
        font-family: @pt-sans-narrow;
        font-weight: bold;
        .transition(background @main-animation-duration);

        &:hover {
            background: darken(@dark-green, 20%);
        }
    }
}
/* skam-list */
.skam-list {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: 0 -20px;

    li {
        width: 220px;
        height: 140px;
        margin: 20px;
        background: @white;
        border: 1px solid @gray;
        border-radius: 5px;
        text-align: center;
        padding-top: 5px;
        font-size: 14px;
        .box-sizing(border-box);

        .img-frame {
            margin: 5px 0;
            height: 80px;
            line-height: 80px;

            img {
                max-width: 100%;
                max-height: 100%;
                vertical-align: middle;
            }
        }

        .date {
            color: @dark-text-color;
            font-style: normal;
        }
    }
}
/* sidebar */
#sidebar {
    float: right;
    width: 300px;

    .clear-fix();

    .aside {
        width: 100%;
    }
}
.advantages {
    float: right;
    text-align: center;
    width: 200px;
    color: @dark-text-color;

    li {
        padding: 15px 0;
        font-family: @pt-sans-caption;

        h3 {
            font-size: 14px;
        }

        p {
            margin-top: 5px;
            font-family: @pt-sans;
            font-size: 12px;
        }
    }
}
/* paging */
.paging {
    padding-top: 5px;
    width: 100%;
    overflow: hidden;
    text-align: center;

    ul {
        display: inline-block;

        li {
            float: left;
            margin: 0 5px;
            a {
                display: block;
                width: 30px;
                height: 30px;
                line-height: 28px;
                border: 1px solid @dark-gray;
                border-radius: 2px;
                text-align: center;
                font-size: 18px;
                font-weight: bold;
                text-decoration: none;
                color: @dark-text-color;
                background: @white;
                .box-sizing(border-box);
                .transition(all @main-animation-duration linear);

                &.active,
                &:hover {
                    background: @dark-gray;
                    color: @white;
                }
            }
        }
    }
}
/* .articles */
.articles {
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;

    .holder {
        width: 48%;
        height: 420px;
        background: @white;
        border-radius: 3px;
        margin: 20px 0;
        padding: 0 17px;
        overflow: hidden;
        position: relative;
        .box-sizing(border-box);

        &:hover {
            .box-shadow(0 0 15px 0 #808080);
        }

        &:after {
            content: '';
            display: block;
            height: 50px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: -moz-linear-gradient(top,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
            background: -webkit-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%);
            background: linear-gradient(to bottom,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='@whitefff',GradientType=0 );
        }

        .img-frame {
            height: 210px;
            line-height: 210px;
            text-align: center;

            img {
                vertical-align: middle;
                max-height: 100%;
                max-width: 100%;
            }
        }

        h3 {
            margin-top: 6px;
            font: 500 25px/1.2 @pf-centro-slab-medium;
            color: @main-link-color;
        }

        p {
            margin-top: 5px;
            font-size: 17px;
            line-height: 1.4;
        }
    }
}
/* faq */
.faq-list {
    li {
        padding: 14px 0;

        h4 {
            cursor: pointer;
            color: @main-link-color;
            border-bottom: 2px dashed @main-link-color;
            font: 500 25px/1.2 @pf-centro-slab-medium;
            display: inline-block;

            &:hover {
                border-bottom-color: transparent;
            }
        }

        p {
            font-size: 18px;
        }

        .holder {
            display: none;
            margin: 14px 0 -14px;
        }
    }
}
/* digest */
.digest-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .block {
        margin: 10px 0;
        width: 320px;
        border: 1px solid @gray;
        border-radius: 5px;
        padding: 10px 10px 65px 20px;
        background: #fff;
        position: relative;
        .box-sizing(border-box);

        .heading {
            line-height: 1.1;
        }

        .date {
            padding-left: 28px;
            background: url("../images/icos/ico-calendar.png") no-repeat 0 50%;
            line-height: 20px;
            font-style: normal;
            color: @dark-text-color;
            font-size: 14px;
            display: block;
            margin: 5px 0;
        }

        .img-frame {
            height: 120px;
            margin: 5px 0;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        .text {
            line-height: 1.4;
            color: @dark-text-color;
        }

        .more {
            display: block;
            width: 130px;
            height: 30px;
            position: absolute;
            bottom: 20px;
            left: 50%;
            margin-left: -65px;
            text-align: center;
            border-radius: 3px;
            background: @dark-green;
            text-transform: uppercase;
            color: @white;
            font: bold 16px/30px @pt-sans-narrow;
            text-decoration: none;
            .transition(background @main-animation-duration);

            &:hover {
                background: darken(@dark-green, 10%);
            }
        }
    }
}
/* media query */
@media only screen and (min-width: 1000px) and (max-width: 1420px) {  /* 1420 and not 1400 because of scrollbar */
    #wrapper {
        width: 1000px;
        padding: 0;
    }
}
@media only screen and (max-width: 999px) {

}
